.easy-embed-media-player {
  display: none;
}

.easy-embed-media-thumbnail {
  display: block;
  cursor: pointer;
  float: left;
  margin: 0 15px 0 0;
}

.easy-embed-media-thumbnail-play {
  position: absolute;
  margin: 10px 0 0 10px;
}

.easy-embed-media-embed {
  margin: 15px 0 15px 0;
}

.easy-embed-media-embed-preview {
  border: 1px solid #827D7D;
  padding: 15px;
  border-top: none;
  margin: 0 -6px 0 0;
}

.easy-embed-media-embed-preview-spacer {
  border-top: 1px dotted #827D7D;
  padding: 15px 0 0 0;
}

.easy-embed-media-progress-bar {
  background:url(../images/progress.gif) no-repeat scroll 0 0 transparent;
  width: 220px;
  height: 19px;
  border: none;
}

.easy-embed-media-thumbnail-empty {
  background-color:#efefef;
}
